
.z-full {
display:initial;
}

.z-med {
display:none;
}

.z-small {
display:none;
}

.zcontainer {
  max-width:750px;
}

.zcontainer-hex {
  max-width:90%;
}

.z-pad {
  padding: 0 50px 0 50px;
}

.icon {
  width: 145px;
  height: 145px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  position: relative;
  bottom:20px;
  display: inline-block;
  cursor: default;
}