<footer class="site-footer">

  <div class="footer-line"></div>

  <center><span id="quote">  </span></center>

</footer>

<script>
  $(document).ready(function() {
    var quotes = [
    "If I had thought about it, I wouldn't have done the experiment. The literature was full of examples that said you can't do this. <br> <strong> Spencer Silver on inventing the post-it note</strong>",
    "I think it's very important to have a feedback loop, where you're constantly thinking about what you've done and how you could be doing it better. <br> <strong>Elon Musk</strong>",
    "To leave the world better than you found it, sometimes you have to pick up other people’s trash. <br> <strong> Bill Nye </strong>",
    "<strong>Verschlimmbessern</strong> <br> German word for trying to make something better but in fact making it worse",
    "<strong>Desenrascanco</strong> <br> Portuguese word for improvising a working solution at the last minute",
    "Strong opinions, weakly held. <br> <strong>Paul Saffo</strong>",
    "Over-analysis is faulty in precisely the same way as no analysis at all. Whatever you chop so fine that it becomes dust is as good as blended into a mass again. - <br> <strong>Seneca</strong>",  
    "Love is a better master than duty.",
    "There isn't a problem so bad that you can't make it worse. - <br> <strong>Chris Hadfield</strong>"
    ];

    var randomNumber = Math.floor(Math.random()*quotes.length);
    
    $("#quote").append(quotes[randomNumber]);
  });
</script>