<footer class="site-footer">

  <div class="footer-line"></div>

  <center><span id="quote">  </span></center>

</footer>

<script>
  $(document).ready(function() {
    var quotes = [
    "If I had thought about it, I wouldn't have done the experiment. The literature was full of examples that said you can't do this. <br> <strong> Spencer Silver on inventing the post-it note</strong>",
    "I think it's very important to have a feedback loop, where you're constantly thinking about what you've done and how you could be doing it better. <br> <strong>Elon Musk</strong>",
    "To leave the world better than you found it, sometimes you have to pick up other people’s trash. <br> <strong> Bill Nye </strong>",
    "<strong>Verschlimmbessern</strong> <br> German word for trying to make something better but in fact making it worse",
    "<strong>Desenrascanco</strong> <br> Portuguese word for improvising a working solution at the last minute",
    ];

    var randomNumber = Math.floor(Math.random()*quotes.length);
    
    $("#quote").append(quotes[randomNumber]);
  });
</script>