---
layout: default
---
<div class="z-pad">
  <div class="row">
    <div class="col-lg-12 text-center">
      
      <header>
        <h1 id="title">{{ page.title }}
        <br>
        <small>{{ page.subtitle }}</small>
        </h1>
      </header>

    </div>
  </div>

  <div class="row">
    <div class="zcontainer text-center">
        <article class="pushdown">
        
        <ul class="nav1 back">
          <li><a id="link-index" href="/index.html"><strong>Back</strong></a></li>
        </ul>
          {{ content }}
        </article>
    </div>
  </div>
</div>